/* Container for places */
.places {
        max-width: 1000px;
        margin: 0 auto;
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;
        align-items: center; /* Center the grid vertically */

    }
    
    /* Heading style within places container */
    .places h1 {
        width: 100%;
        padding-left: 22px;
    }
    
    /* Styling for each place article */
    .places article {
        width: 390px;
        padding: 20px;
        margin: 20px;
        border: 1px solid red;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    /* Heading within the article */
    .places article h2 {
        font-size: 30px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-left: 30px;
    }
    
    /* Styling for the price information */
    .places article div.price_by_night {
        color: #FF5A5F;
        border: 4px solid #FF5A5F;
        border-radius: 50%;
        max-width: 80px;
        min-width: 60px;
        height: 60px;
        font-size: 30px;
        text-align: center;
        line-height: 60px;
    }
    
    /* Information section within the article */
    .places article div.information {
        width: 100%;
        height: 80px;
        border: 1px solid #DDDDDD;
        border-left: none;
        border-right: none;
        display: flex;
        float: left;
        font-size: 12px;
    }
    
    /* Styling for max_guest */
    div.information div.max_guest {
        width: 100px;
        background-image: url(../images/icon_group.png);
        background-repeat: no-repeat;
        background-position: center top;
        margin: 4px auto;
        text-align: center;
        line-height: 9em;
    }
    
    /* Styling for number_rooms */
    div.information div.number_rooms {
        width: 100px;
        background-image: url(../images/icon_bed.png);
        background-repeat: no-repeat;
        background-position: center top;
        margin: 4px auto;
        text-align: center;
        line-height: 9em;
    }
    
    /* Styling for number_bathrooms */
    div.information div.number_bathrooms {
        width: 100px;
        background-image: url(../images/icon_bath.png);
        background-repeat: no-repeat;
        background-position: center top;
        margin: 4px auto;
        text-align: center;
        line-height: 9em;
    }
    
    /* Styling for user and description */
    .user, .description {
        font-size: 14px;
        margin: 2px 0px;
    }
    
    /* Styling for amenities and reviews sections */
    .places article div.amenities,
    .places article div.reviews {
        margin-top: 40px;
        width: 100%;
    }
    
    /* Heading style within amenities and reviews sections */
    .places article div.amenities h2,
    .places article div.reviews h2 {
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;
        text-align: left;
        padding-left: 0px;
        padding-bottom: 10px;
    }
    
    /* Styling for unordered lists within amenities and reviews sections */
    article div.amenities ul,
    div.reviews ul {
        padding: 0;
        display: block;
    }
    
    /* Margin adjustment for amenities ul */
    article div.amenities ul {
        margin-bottom: 0;
    }
    
    /* Styling for list items in unordered lists */
    article div.amenities ul li,
    article div.reviews ul li {
        list-style: none;
    }
    
    /* Styling for individual list items in amenities section */
    article div.amenities ul li {
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }
    
    /* Background images for specific amenities */
    div.amenities ul li.TV {
        background-image: url(../images/icon_tv.png);
    }
    
    div.amenities ul li.Wifi {
        background-image: url(../images/icon_wifi.png);
    }
    
    div.amenities ul li.Peta {
        background-image: url(../images/icon_pets.png);
    }
    
    /* Styling for review list items */
    div.reviews ul li h3 {
        font-size: 14px;
    }
    
    /* Styling for text within review list items and amenities list items */
    div.reviews ul li p,
    article div.amenities ul li p {
        font-size: 12px;
    }
    
    /* Additional styling for the text within amenities list items */
    div.amenities ul li p {
        width: 100px;
        margin-left: 40px;
        padding-top: 8px;
    }
    